


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Main Page */
body{font-family:"Sans-serif";
background-size: cover; padding: 0;margin: 0;background-image: url(./Image/Image.jpg);}
.menubar ul li {display:flex; justify-content: space-around;}
.menubar ul li  a{text-decoration: none;}

